@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');


body {
  background-color: rgba(0, 0, 0, 0.975);
  font-family: 'PT Serif', serif;
  font-style: italic;
}

body::-webkit-scrollbar {
  display: none;
}

.text-shadow {
  text-shadow: 0px 0px 20px red;
}